<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1QVxIJ6nf3ETQPuh9BUf1JT1GijkrLz8</string>
	<key>GCM_SENDER_ID</key>
	<string>544232594166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swe.todo</string>
	<key>PROJECT_ID</key>
	<string>todolist-ee1ff</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-ee1ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544232594166:ios:6de02bef0a95980d396ad7</string>
</dict>
</plist>